body{
    font-family: "Barlow Condensed", sans-serif;
}

.container{
    display: flex;
}

.div1{
    width: 50%;
}

.div2{
    width: 50%;
}

.foto img{
    float: left;
    width: 200px;
    margin-right: 10px;
}

.foto strong{
    margin: 0;
    display: block;
}

.clear {
    clear: both;
}
